extends layout.jade

block content_styles
	link(rel='stylesheet', type='text/css', href='css/contacts.css')

block content_scripts
	script(type='text/javascript', src='js/contacts.js')

block content
	.map_block
	.contacts_block: .contacts_inner
		.column
			.title адрес
			.value Козихинский переулок 30 Метро «Маяковская», «Пушкинская»
		.column
			.title заказ билета
			.value 8 (495) 544-55-45
		.column
			.title телефоны для справок
			.value
				div 8 (495) 258-55-65
				div 8 (495) 699-44-92
		.column
			.title руководитель пресс-службы
			.value
				div Арина Светлица
				div as@praktikatheatre.ru
				div +7 916 902-64-61
		.column
			.title менеджер по рекламе
			.value
				div Елена Имамова
				div elenaimamova@gmail.com
				div +7 915 490-25-34