extends layout.jade

block content_styles
	link(rel='stylesheet', type='text/css', href='css/events.css')

block content_scripts
	script(type='text/javascript', src='js/events.js')


block content
	- var month_array = ['сентябрь', 'октябрь', 'ноябрь']
	- var week_array = ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс']

	.timeline_block: .timeline_outer: .timeline_inner
		each month, i in month_array
			.month_item(class=(i==0 ? 'selected' : ''), data-month=month)
				.month_placeholder(class=(i==0 ? 'hide' : ''))
				.month_days
					each day, j in new Array(30)
						.day_item
							.day_date= j+1
							.day_week= week_array[+(''+j)[1] ? +(''+j)[1] : j]

	.events_block
		.events_title
			.select_month.prev
			.current_month(data-month='сентябрь') сентябрь
			.select_month.next

		.events_list
			each event in new Array(10)
				.event_item
					.event_poster(style='background-image: url(img/events/1.jpg)')
					.event_body
						.event_head
							.event_date 3 сентября
							.event_ticket купить билет
						.event_title это тоже я. вербатим
						.event_meta
							.event_age 18
							.event_members
								.members_title режиссёры
								.members_items
									a.item(href='#') Дмитрий Брусникин
									a.item(href='#') Юрий Квятковский
						.event_description «Брусникинцы» рассказывают истории реальных людей, которые они собрали из жизни — на митингах, вокзалах, в школах, институтах, клубах, на улице и дома