extends layout.jade

block content_styles
	link(rel='stylesheet', type='text/css', href='css/event.css')

block content_scripts
	script(type='text/javascript', src='js/event.js')

block content
	h1 Event!