extends layout.jade

block content_styles
	link(rel='stylesheet', type='text/css', href='css/libs/swiper.min.css')
	link(rel='stylesheet', type='text/css', href='css/main.css')

block content_scripts
	script(type='text/javascript', src='js/libs/swiper.min.js')
	script(type='text/javascript', src='js/main.js')

block content
	a.announcement_block(href='events.html')
		.announcement_title обновилось расписание на январь
		.announcement_desc Успейте купить билеты на детскую новогоднюю программу и любимые спектакли
	.slider_block.swiper-container
		.swiper-wrapper
			each slide, i in new Array(1)
				.slide_item.swiper-slide(style='background-image: url(img/main/' + (i+1) + '.jpg)')
		.swiper-pagination.swiper-pagination-white