doctype html
html
	head
		title P R A K T I K A | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/global.css')
		block content_styles
		script(type='text/javascript', src='js/libs/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/global.js')
		block content_scripts
	body
		.title_block: .title_inner
			.menu_block
				.menu_open
				.menu_items
					.items_main
						a(href='events.html') репертуар и билеты
						a(href='contacts.html') контакты
					.items_drop
						a(href='members.html') команда
						a(href='about.html') о театре
			.nav_block
				a.search(href='#'): img(src='img/icons/search.svg')
				a.lang(href='#') eng
			a(href='index.html'): img.logo(src='img/logo/logo_praktika.svg')

		.content_block
			block content

		.footer_block: .footer_inner
			a.logo_dep(href='#'): img(src='img/logo/logo_depcult.svg')
			.quality_block
				a(href='#')
					img(src='img/logo/likes-01.svg')
					span Оценка качества услуг учреждений культуры
				a(href='#')
					span Результаты независимой оценки качества услуг
			.social_block
				a(href='#'): img(src='img/social/facebook.svg')
				a(href='#'): img(src='img/social/instagram.svg')
				a(href='#'): img(src='img/social/vk.svg')
				a(href='#'): img(src='img/social/telegram.svg')
