doctype html
html
	head
		title P R A K T I K A | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/global.css')
		block content_styles
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/global.js')
		block content_scripts
	body
		.menu_block
			span Cool Menu

		.content_block
			block content

		.footer_block
			span Cool Footer